* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: black;
  background: url(https://i.imgur.com/WyyvR5h.jpg);
  color: white;
  text-align: center;
  font-family: sans-serif;
}

#morpheus {
  height: auto; 
  width: auto; 
  max-width: 30rem; 
  max-height: 30rem;
  margin-top: 3rem;
}

#logo {
  height: auto; 
  width: auto; 
  max-width: 30rem; 
  max-height: 30rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#container {
  width: 80%;
  margin-top: 15rem;
  max-width: 55rem;
  margin-inline: auto;
  box-shadow: 0.2rem 1rem 1.5rem 0.5rem rgba(0,100,0,0.78);
  border-radius: 3rem;
  padding: 3rem;
}

h1 {
font-size: 4rem;
margin-top: 4rem;
margin-bottom: 1rem;
opacity: 0.9;
}

p {
  font-size: 2rem;
  margin-bottom: 4rem;
  opacity: 0.7;
}

input, button {
  display: block;
  width: 70%;
  padding: 2rem;
  font-size: 2rem;
  border-radius: 5rem;
  margin-inline: auto;
}

input {
  margin-bottom: 2rem;
  text-align: center;
  text-decoration: white;
  border: none;
  background-color: green;
}

::placeholder{
  color: greenyellow;
}

#botao {
  color: greenyellow;
  background-color: green;
  border: none;
  transition: filter .3s;
}

button:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

#resposta {
    margin-top: 3rem;
    transition: opacity 1s;
    }

#resposta div {
  font-size: 1.6rem;
  font-weight: normal;
  opacity: 0.9;
  margin-bottom: 1rem;
}